@charset "UTF-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* ここまでリセットcss */
/* ここまでリセットcss */

.header {
  height: 70px;
  background: #000;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  margin-left: 35px;
  color: #f2f2f2;
  line-height: 70px;
}

.header-nav ul{
  display: flex;
}

.header-nav li {
  margin-right: 35px;
  font-size: 16px;
}

.header-nav a {
  color: #f2f2f2;
}



#eyecatch {
    height: 940px;
    background: url(../img/eyecatch.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  

.title{
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 55px;
    font-weight: bold;
    color: white;
    line-height: 1;
  }

  .news_title{
      background-color: white;
      height: 70px;
      width: 50%;
      position: absolute;
      top: 93%;
      left: 50%;
      display: flex;
  }

  .date{
      line-height: normal;
  }

  .news{
      font-size: 10px;
      padding: 30px 8%;
      color: white;
      background-color: black;
      margin-left: auto;
  }

  .service{
      height: 1840px;
      position: relative;
  }

  .service h2{
      text-align: center;
      padding: 30px;
      font-size: 35px;
  }




.mission{
    height: 605px;
    background-color: black;
    position: relative;
    margin-bottom: 190px;
}

.mission_message{
    height: 35%;
    position: absolute;
    top: 200px;
    left: 20%;
    line-height:normal;
    width: 50%;
}

.mission_message:not(button){
    color: white;
}

.mission_message button{
    font-size: 15px;
    margin-top: 30px;
    padding: 10px 30px;
}

.mission_message h2{
    margin-bottom: 45px;
    font-size: 30px;
}

.orenge{
    position: absolute;
    top: 25%;
    left: 50%;
    width: 50%;
}


.service{
    height: 1835px;
    background-color: rgb(221, 221, 221);
    position: relative;
}

.coach_missyon{
    margin: 20px 0;
}

.service_message_camera{
    line-height: normal;
    width: 40%;
    padding:5% ;
    font-size: 14px;
    background-color: white;
    position: absolute;
    top: 12%;
    left: 16%;
}

.service button{
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    float: right;
    margin-top: 20px;
}

.service img:first-of-type{
    width: 50%;
    object-fit: contain;
    display: block;
    margin-left: auto;
}

.service_message_fire{
    line-height: normal;
    width: 40%;
    padding:5% ;
    font-size: 14px;
    background-color: white;
    position: absolute;
    top: 61%;
    left: 35%;
}

.service img:last-of-type{
    width: 50%;
    object-fit: contain;
    position: absolute;
    top: 54%;
}

.company_recruit{
    margin: 190px 0;
    display: flex;
    justify-content: space-between;
    color: white;
    text-align: center;
}

.company_recruit h3{
    font-size: 25px;
    padding-bottom: 15px;
}

.company_recruit p,
.contact p
{
    font-size: 20px;
}

.business{
    height: 1040px;
}
.recruit{
    width: 48%;
    padding: 11% 0;
    height: 29%;
    background-image: url(../img/recruit.jpg);
    background-size: cover ;
}

.company{
    width: 48%;
    padding: 11% 0;
    height: 29%;
    background-image: url(../img/company.jpeg);
    background-size: cover;
}

.faq{
    height: 160px;
    color: white;
    background-color: black;
    display: flex;
    align-items: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.faq h2{
    position: absolute;
    top: 40%;
    left: 3%;
    font-size: 35px;
}

.faq p{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.contact{
    height: 695px;
    text-align: center;
    color: white;
    background-image: url(../img/contact-bg.jpg);
    background-size: cover;
    position: relative;
}


.contact h2{
    font-size: 30px;
    padding: 200px 0 20px;
}

.contact h3{
    font-size: 35px;
    padding: 45px 0 ;
}

.contact_message{
    display: block;
    line-height: normal;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    padding-bottom: 45px;
    width: 65%;
}

.contact h2 p h3 a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    line-height: 1;
}

.contact a{
    padding: 15px 30px;
    border: solid 1px #ffffff;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    height: 25px;
}

